<div class="d-flex justify-content-center align-items-cente">
  <span class="mr-3">總金額：</span>
  <h1 class="text-center total-amount" style="color:lightblue">0
  </h1>
</div>

<div class="d-flex justify-content-between mb-3">
  <a class="btn btn-outline-success" href="/records/new"><i class="far fa-plus-square"></i>新增支出</a>
  <form name="categoryform" method="GET" action="/records/category">
    <select id="categoryform" name="filter" onchange="submit()">
      <option>Category</option>
      <option value="">全部</option>
      <option value="餐飲食品">餐飲食品</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="家居物業">家居物業</option>
      <option value="交通出行">交通出行</option>
      <option value="其他">其他</option>
    </select>
  </form>
</div>

<ul class="list-group list-group-flush">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="row col-10 mr-auto ">
        <span class="col-1 align-items-center" style="font-size: 16px">{{{this.icon}}}</span>
        <div class="col-11 d-flex ml-0 align-items-center justify-content-between ">
          <h3>{{this.name}}</h3>
          <h3>{{this.amount}}</h3>
        </div>
        <br>
        <span class="col-1"></span>
        <span class="col-3">{{this.date}}</span>
      </div>
      <div class="col-auto mr-auto">
        <a class="btn btn-success" href="/records/{{ this._id }}/edit">修改</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
          onsubmit="return confirm('確定要刪除嗎？')">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>